* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
body i {
  font-style: normal;
}
body a {
  color: white;
}
html {
  scroll-behavior: smooth;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
h1,
h2 {
  font-family: great-vibes;
}
.red-text {
  color: #cf1b15;
}
@font-face {
  font-family: great-vibes;
  src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}
/* FONT-LATO */
@font-face {
  font-family: lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Thin;
  src: url(../fonts/Lato/Lato-Thin.ttf);
}
/* HEART */
.heart {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.line {
  width: 130px;
  height: 1px;
  background-color: black;
  margin: 0 8px;
}
.red {
  font-size: 10px;
  color: #cf1b15;
}

/* CIRCLE */
.circle {
  border: 15px solid transparent;
  border-top-color: white;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
}
/* MENU */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.logo {
  width: 230px;
}
.logo img {
  width: 100%;
}
.menu {
  display: flex;
  position: relative;
}
.menu > li > a {
  margin: 3px;
  font-size: 12px;
  padding: 10px;
  color: #595959;
  transition: 0.4s;
  font-family: Lato-Bold;
}
.menu li {
  border-right: 1px solid #595959;
}
.menu > li:hover a {
  color: black;
}
.home {
  color: black;
}
.hamberger {
  display: flex;
  height: 14px;
  width: 15px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.hamberger span {
  width: 100%;
  height: 2px;
  background-color: white;
}
/* HERO */
.hero {
  height: 600px;
  background: url(../images/set1-happy-couple-1500x630.jpg) no-repeat center
    center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-bottom: 100px;
  filter: brightness(0.7);
}
.hero h1 {
  font-size: 7vw;
}
.hero p {
  font-size: 14px;
  font-family: Lato-Regular;
  margin-top: 10px;
}

/* MARRIED */
.married {
  text-align: center;
}
.married h2 {
  font-size: 50px;
  margin-bottom: 35px;
}
.p-margin-top {
  font-size: 15px;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  color: #595959;
  line-height: 24px;
  font-family: Lato-Bold;
}
.married .regular {
  font-size: 35px;
  color: #cf1b15;
  margin: 50px 0;
  font-family: Lato-Regular;
}

/* TIMER */
.timer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  gap: 1px;
}
.box {
  width: 280px;
  height: 100px;
  background-color: #cf1b15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box p {
  font-size: 17px;
}
.box i {
  font-size: 40px;
}
/* OUR-STORY */
.story {
  background-color: #f8f8f8;
  margin-top: 150px;
  position: relative;
  padding-bottom: 110px;
}
.story h2 {
  font-size: 50px;
  padding-top: 90px;
  padding-bottom: 40px;
  text-align: center;
}
.parageraf1 {
  display: flex;
  gap: 50px;
  text-align: left;
  padding: 30px 150px;
  color: darkgray;
  line-height: 24px;
}

/* WHO-WE-ARE */
.who {
  width: 100%;
  height: 300px;
  background: url(../images/set1-young-couple-bw.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  filter: brightness(0.9);
  position: relative;
  line-height: 38px;
}
.who h2 {
  font-size: 39px;
}
/* GROOM-BRIDE */
.couple {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 200px;
  margin-top: 150px;
}
.couple h2 {
  font-size: 55px;
  margin-bottom: 15px;
}
.couple i {
  font-size: 25px;
  font-family: Lato-Light;
}
.couple p {
  width: 100%;
  max-width: 500px;
  line-height: 30px;
  margin: 0 auto;
  color: #595959;
}
.zooj img:hover {
  transform: scale(1.1);
}
.zooj img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
  transition: 0.9s;
}
/* GROUP */
.group-section {
  display: flex;
  margin-top: 50px;
  position: relative;
}
.group {
  text-align: center;
  width: 100%;
}
.group h2 {
  font-size: 55px;
  margin: 30px 0;
}
.group-members {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.members img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.members p {
  margin: 30px 0;
}
.Groomsmen {
  background-color: #f8f8f8;
}
.Bridesmaids {
  background-color: #f9f2f2;
}
.Bridesmaids h2 {
  color: #cf1b15;
}

/* WEDDING-DETAILS */
.wedding-details {
  height: 300px;
  background: url(../images/wedding-colorful-light-balls-bw.jpg) no-repeat
    center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  filter: brightness(0.9);
  line-height: 38px;
}
.wedding-details h2 {
  font-size: 50px;
}
/* MAIN-CEREMONY */
.main-ceremony {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.ceremony img {
  width: 100%;
  max-width: 430px;
  margin: 10px 0;
  transition: 0.9s;
}
.ceremony img:hover {
  transform: scale(1.1);
}
.ceremony h2 {
  font-family: Lato-Thin;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 11px;
}
.and {
  font-family: Great-Vibes;
  color: #cf1b15;
  font-size: 40px;
}
.ceremony p {
  font-size: 11px;
  color: gray;
}

/* ACCOMODATION */
.accomodation {
  height: 300px;
  background: url(../images/house-croisette-promenade-in-cannes-bw.jpg)
    no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  filter: brightness(0.9);
  line-height: 38px;
  margin: 100px 0;
}
.accomodation h2 {
  font-size: 50px;
}
/* HOTELS */
.hotels-colorful {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
}
.parent img {
  width: 100%;
  max-width: 350px;
  transition: 0.9s;
}
.hotels-colorful p:nth-child(2) {
  font-size: 11px;
  margin-bottom: 13px;
  font-family: Lato-Regular;
  color: gray;
}
.hotels-colorful p:nth-child(4) {
  margin-top: 15px;
  margin-bottom: 50px;
  font-family: Lato-Regular;
  color: gray;
  line-height: 24px;
  width: 100%;
  max-width: 150px;
  transform: translate(50%, 0);
}
.hotels-colorful h2 {
  font-family: Lato-Thin;
  font-size: 30px;
}
.parageraf {
  color: gray;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  line-height: 30px;
}
.parent {
  position: relative;
}
.white-hotel {
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: scale(1.1);
  transition: 1s;
  opacity: 0;
}
.icon {
  background-color: aqua;
  padding: 25px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.parent:hover img {
  transform: scale(1.1);
}
.parent:hover .icon {
  opacity: 1;
}
.parent:hover .white-hotel {
  opacity: 0.5;
}
